{{ define "mo-main" }}

    <!-- Title und Content from meeresoffensive/_index.md -->
    <div id="mo-preface">
        <h1>{{ .Title }}</h1>
        {{ .Content | safeHTML }}
    </div>
    

    {{ range .Data.Pages.ByParam "order" }}
        {{ if .IsSection }}
            <!-- render meeresoffensive/subheader.html -->
{{ .Render "subheader" }}
        {{ else }}
            <!-- render meeresoffensive/listview.html -->
{{ .Render "listview" }}
        {{ end }}
<div class="mo-sections-wrapper">
        {{ range .Pages }}
            {{ if .IsSection }}
                <!-- render meeresoffensive/subheader.html -->
{{ .Render "subheader" }}
            {{ else }}
                <!-- render meeresoffensive/listview.html -->
{{ .Render "listview" }}
            {{ end }}
        {{ end }}
</div>
    {{ end }}


{{ end }}