<section id="{{ .File.ContentBaseName }}" class="mo-section">

    <article class="mo-single" style="position:relative; background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(' {{ .Site.Params.cloudinary_url }}/{{ .Params.background_image }} ');">  <!-- #DO bg img nur ausgeben, wenn nicht NULL > GO if -->
        <div class="mo-original">
            
            <span class="order">{{ .Params.order }}</span>
            
            {{ .Content }}
        </div>
        <div class="mo-translation">
            <div class="mo-translation--text">
                <!-- .Params.text_original -->
                <p>{{ .Params.text_translation }}</p>

                {{ range .Params.explanations }}
                    <div class="mo-explanation">
                        <h3>{{ .title }}</h3>
                        <p>{{ .text }}</p>
                    </div>
                {{ end }}
            </div>
        </div>
        
    </article>

</section>