{{ define "mo-main" }}

<!-- Title und Content from meeresoffensive/_index.md -->
<div id="mo-preface-background"></div>
<div id="mo-preface">
    <h1>{{ .Title }}</h1>
    {{ .Content | safeHTML }}
    <p>
        <iframe id="yt-iframe" width="auto" height="auto"
            src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?rel=0&modestbranding" title="" frameBorder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowFullScreen modestbranding></iframe>
    </p>

    <h2>Inhalt</h2>
    {{ range .Pages }}
    {{ range .Pages }}
    <p id="inhalt-subtitle"><a href="#article-no-{{ .Params.order }}">{{ .Params.order }}</a></p>
    {{ end }}
    {{ end }}
</div>

<div id="mo-progress" class="hidden">
    <div id="mo-progress--count"><span>0</span><span>/22</span></div>
    <!--<div>-->
    <span id="mo-progress--headline">Wird geladen...</span>
    <div id="mo-progress--circles">
        <div class="mo-progress--circle"></div>
    </div>
    <!--</div>-->
</div>

<did id="mo-articles">
    {{ range .Data.Pages.ByParam "order" }}
    {{ if .IsSection }}
    <!-- render meeresoffensive/subheader.html -->
    {{ .Render "subheader" }}
    {{ else }}
    <!-- render meeresoffensive/listview.html -->
    {{ .Render "listview" }}
    {{ end }}
    </div>

    <div class="mo-sections-wrapper">
        {{ range .Pages }}
        {{ if .IsSection }}
        <!-- render meeresoffensive/subheader.html -->
        {{ .Render "subheader" }}
        {{ else }}
        <!-- render meeresoffensive/listview.html -->
        {{ .Render "listview" }}
        {{ end }}
        {{ end }}
    </div>
    {{ end }}


    {{ end }}