{{ define "mo-main" }}

<section class="mo-section"> <!-- #DO https://gobyexample.com/string-functions > Titel als ID ohne Leer- und Sonderzeichen -->

    <article  id="moContent" class="mo-single" style="position:relative; background:linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(' {{ .Site.Params.cloudinary_url }}/{{ .Params.background_image }} ');"> <!-- #DO bg img nur ausgeben, wenn nicht NULL > GO if -->
        <div class="mo-original">
            {{ .Content }}
        </div>
        <div class="mo-translation">
            <div class="mo-tranlation--text">
                <!-- .Params.text_original -->
                <p>{{ .Params.text_translation }}</p>

                {{ range .Params.explanations }}
                    <div class="mo-explanation">
                        <h3>{{ .title }}</h3>
                        <p>{{ .text }}</p>
                    </div>
                {{ end }}
                
                <div class="mo-cta-button"><button>Was kann ich tun?</button></div>
            </div>
            <div class="mo-cta-wrapper">
                <div class="">
                    <h3>Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="">
                    <h3>Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="">
                    <h3>Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
        </div>
        
    </article>

</section>

{{ end }}