<div></div> <!-- class="footer-gradient" -->
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} Deepwave e.V.<!-- {#{ .Site.Title }#} -->
        </div>
        <div class="footer-text">
          <a href="https://www.deepwave.org/impressum/" target="_blank">Impressum</a>
          <a href="https://www.deepwave.org/impressum/datenschutz/" target="_blank">Datenschutz</a>
        </div>
        {{ partial "social-links/social-links.html" . }}
    </div>
</div>