<div id="mo-footer">
  <div id="mo-signatories">
    <p style="font-size: 22px;margin-bottom: 4em;">Die <strong>Kernforderungen für eine zukunftsfähige
        Meerespolitik</strong>
      wurden unterzeichnet von:</p>
    <div class="mo-logos-container">
      <a href="https://www.brot-fuer-die-welt.de/" target="_blank"><img src="/logos/LOGO_Brot_fuer_die_Welt.png"
          alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.bund.net/" target="_blank"><img src="/logos/LOGO_BUND.png" alt="LOGO BUND" loading="lazy"
          class="mo-signatory-logo" /></a>
      <a href="https://www.deepwave.org/" target="_blank"><img src="/logos/LOGO_DEEPWAVE_blau.png" alt="LOGO Deepwave"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.duh.de/" target="_blank"><img src="/logos/LOGO_DUH.png" alt="LOGO" loading="lazy"
          class="mo-signatory-logo" /></a>
      <a href="https://www.dnr.de/" target="_blank"><img src="/logos/LOGO_DNR.png" alt="LOGO" loading="lazy"
          class="mo-signatory-logo" /></a>
      <a href="https://ejfoundation.org/" target="_blank"><img src="/logos/LOGO_EJF.webp" alt="LOGO" loading="lazy"
          class="mo-signatory-logo" /></a>
      <a href="https://fair-oceans.info/" target="_blank"><img src="/logos/LOGO_fair_oceans.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.forumue.de/" target="_blank"><img src="/logos/LOGO_Forum_Umwelt_und_Entwicklung.png"
          alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.greenpeace.de/" target="_blank"><img src="/logos/LOGO_Greenpeace.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.misereor.org/es" target="_blank"><img src="/logos/LOGO_Misereor.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.nabu.de/" target="_blank"><img src="/logos/LOGO_NABU.png" alt="LOGO" loading="lazy"
          class="mo-signatory-logo" /></a>
      <a href="https://www.ozeanien-dialog.de/" target="_blank"><img src="/logos/LOGO_Ozeanien_Dialog.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.prowildlife.de/" target="_blank"><img src="/logos/LOGO_Pro_Wildlife.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.sharkproject.org/" target="_blank"><img src="/logos/LOGO_Sharkprject.jpg" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://de.whales.org/" target="_blank"><img src="/logos/LOGO_Whale_and_Dolphin_Conservation.png"
          alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.worldfuturecouncil.org/" target="_blank"><img src="/logos/LOGO_WFC.png" alt="LOGO"
          loading="lazy" class="mo-signatory-logo" /></a>
      <a href="https://www.wwf.de/" target="_blank"><img src="/logos/LOGO_WWF.png" alt="LOGO" loading="lazy"
          class="mo-signatory-logo" /></a>
    </div>
  </div>
  <div id="deepwave-says-thank-you">
    <p style="font-size: 22px;">Die <strong>Sidenotes</strong> zum Forderungspapier sind ein Projekt von DEEPWAVE e.V.
    </p>
    <p>
      <b>Konzept</b> Heye Groß | Anna Groß<br>
      <b>Texte</b> Nico Czaja | Anna Groß | Lea Teichmann<br>
      <b>Recherche</b> Dr. Franziska Bils | Dörte Themann | Amalia Klein<br>Moritz Aehle | Anja Schuller<br>
      <b>Animationen</b> Oliver Wünsch<br>
      <b>Erklärvideo</b> Andrea Gerhard | David Wehle<br>
      <b>Programmierung</b> Frieder Göock | Marius Niveri | Heye Groß
    </p>
    <h2>Danksagung</h2>
    <p style="text-align: justify;">An unsere Kolleg:innen: Die, mit denen wir das erste Forderungspapier
      “Meeresoffensive 2020” verfasst haben und
      die,
      mit denen wir es als "Kernforderungen für eine zukunftsfähige Meerespolitik” aktualisiert haben, und die, die
      beide unterzeichnet haben.
      An all unsere Mitglieder und Förder:innen. An unser ehrenamtliches Team, unsere Freund:innen. Menschen, die sich
      mit jeder Faser ihres Seins für unseren Blauen Planeten einsetzen. Ohne euch wären die DEEPWAVE Sidenotes nie
      Realität geworden. Euch allen unseren herzlichsten DANK.
    </p>
  </div>
</div>
