<div id="mo-footer">
    <h2>Danksagung</h2>
    <p>An unsere Kolleg:innen. Die, die das Forderungspapier mit uns verfasst haben. Die NGOs, die die Meeresoffensive unterzeichnet haben. An all unsere Mitglieder und Förder:innen. An unser ehrenamtliches Team, unsere Freund:innen. Menschen, die sich mit jeder Faser ihres Seins für unseren Blauen Planeten einsetzen. Ohne euch wären die DEEPWAVE Sidenotes nie Realität geworden.</p>
    
    <div class="mo-signatories">
        <h2>Unterzeicher:innen</h2>
        <div class="mo-signatories-logos">
            <img src="/logos/LOGO_Brot_fuer_die_Welt.png" alt="LOGO" />
            <img src="/logos/LOGO_BUND.png" alt="LOGO" />
            <img src="/logos/LOGO_DEEPWAVE_blau.png" alt="LOGO" />
            <img src="/logos/LOGO_DUH.png" alt="LOGO" />
            <img src="/logos/LOGO_fair_fish.png" alt="LOGO" />
            <img src="/logos/LOGO_fair_oceans.png" alt="LOGO" />
            <img src="/logos/LOGO_Forum_Umwelt_und_Entwicklung.png" alt="LOGO" />
            <img src="/logos/LOGO_Greenpeace.png" alt="LOGO" />
            <img src="/logos/LOGO_NABU.png" alt="LOGO" />
            <img src="/logos/LOGO_Ozeanien_Dialog.png" alt="LOGO" />
            <img src="/logos/LOGO_Reef_Check.png" alt="LOGO" />
            <img src="/logos/LOGO_Schutzstation_Wattenmeer.png" alt="LOGO" />
            <img src="/logos/LOGO_Slow_Food.png" alt="LOGO" />
            <img src="/logos/LOGO_urgewald.png" alt="LOGO" />
            <img src="/logos/LOGO_Waterkant.png" alt="LOGO" />
            <img src="/logos/LOGO_WDC.png" alt="LOGO" />
            <img src="/logos/LOGO_WWF.png" alt="LOGO" />
        </div>
    </div>
</div>