<div id="mo-footer">
    <div id="mo-signatories">
        <h2>Unterzeichner:innen</h2>
        <div class="mo-logos-container">
            <a href="https://www.brot-fuer-die-welt.de/" target="_blank"><img src="/logos/LOGO_Brot_fuer_die_Welt.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.bund.net/" target="_blank"><img src="/logos/LOGO_BUND.png" alt="LOGO BUND" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.deepwave.org/" target="_blank"><img src="/logos/LOGO_DEEPWAVE_blau.png" alt="LOGO Deepwave" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.duh.de/" target="_blank"><img src="/logos/LOGO_DUH.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.fair-fish.ch/de/" target="_blank"><img src="/logos/LOGO_fair_fish.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://fair-oceans.info/" target="_blank"><img src="/logos/LOGO_fair_oceans.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.forumue.de/" target="_blank"><img src="/logos/LOGO_Forum_Umwelt_und_Entwicklung.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.greenpeace.de/" target="_blank"><img src="/logos/LOGO_Greenpeace.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.nabu.de/" target="_blank"><img src="/logos/LOGO_NABU.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.ozeanien-dialog.de/" target="_blank"><img src="/logos/LOGO_Ozeanien_Dialog.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://reefcheck.de/" target="_blank"><img src="/logos/LOGO_Reef_Check.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.schutzstation-wattenmeer.de/" target="_blank"><img src="/logos/LOGO_Schutzstation_Wattenmeer.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.slowfood.de/" target="_blank"><img src="/logos/LOGO_Slow_Food_Deutschland.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://urgewald.org/" target="_blank"><img src="/logos/LOGO_urgewald.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://waterkant.info/" target="_blank"><img src="/logos/LOGO_Waterkant.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://de.whales.org/" target="_blank"><img src="/logos/LOGO_Whale_and_Dolphin_Conservation.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.wwf.de/" target="_blank"><img src="/logos/LOGO_WWF.png" alt="LOGO" loading="lazy" class="mo-signatory-logo" /></a>
        </div>
    </div>
    <div id="deepwave-says-thank-you">
        <h2>Danksagung</h2>
        <p>An unsere Kolleg:innen. Die, die das Forderungspapier mit uns verfasst haben. Die NGOs, die die Meeresoffensive unterzeichnet haben. An all unsere Mitglieder und Förder:innen. An unser ehrenamtliches Team, unsere Freund:innen. Menschen, die sich mit jeder Faser ihres Seins für unseren Blauen Planeten einsetzen. Ohne euch wären die DEEPWAVE Sidenotes nie Realität geworden.</p>
    </div>
</div>
