{{ define "mo-main" }}

<!-- Title und Content from meeresoffensive/_index.md -->
<div id="mo-chapterbox">
  {{ range .Data.Pages.ByParam "order" }}
  <p><a href="#article-no-{{ .Params.order }}">{{ .Params.titlesmall }}</a></p>
  {{ end }}
</div>

<div id="mo-preface">
  <h1>{{ .Title }}</h1>
  <div class="row">
    <div>
      {{ .Content | safeHTML }}
    </div>
    <p style="margin: 0;">
      <iframe id="yt-iframe" width="auto" height="auto"
        src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?rel=0&modestbranding" title="" frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowFullScreen modestbranding></iframe>
    </p>
  </div>
  <center>
    <div class="mo-open-map-button"><button id="open-map">Zur Übersichtskarte</button></div>
  </center>

  <script type="text/javascript">
    window.smalltitles = [
      {{ range .Data.Pages.ByParam "order" }}
      [
        {{ range .Data.Pages.ByParam "order" }}
        {
          title: "{{ .Params.title | safeHTML }}",
          order: "{{ .Params.order }}"
        },
        {{ end }}
      ],
      {{ end }}
    ]
  </script>

  <div class="map-hidden" id="map-container-container">
    <div id="map-container">
      <canvas id="map"></canvas>
      <span id="close-map">X</span>
    </div>
  </div>
</div>

<div id="mo-progress" class="hidden">
  <div id="mo-progress--count"><span>0</span><span>/22</span></div>
  <!--<div>-->
  <span id="mo-progress--headline">Wird geladen...</span>
  <div id="mo-progress--circles">
    <div class="mo-progress--circle"></div>
  </div>
  <!--</div>-->
</div>

<div id="mo-articles">
  {{ range .Pages.ByParam "order" }}
  {{ .Render "subheader" }}
  <div class="mo-sections-wrapper">
    {{ range .Pages.ByParam "order" }}
    {{ .Render "listview" }}
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
